@import '../theme.scss';
@import '../util.scss';
@import '../animation.scss';

.article-card {
    position: relative;
    width: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    background: linear-gradient(to bottom right, $primary-dark , $primary-dark);
    cursor: pointer;

    &:hover {

        &::before {
            content: "Read More";
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            font-weight: bold;
            color: $color-white;
            background-color: transparent;
            animation: text-slide-up 0.3s;
            animation-fill-mode: forwards;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            opacity: 0.9 !important;
            color: $color-white;
            background: linear-gradient(to top, $color-purple, $color-black);
            animation: slide-up 0.3s;
            transform-origin: 50% 100%;
        }

    }

    &:not(:hover) {
        background-color: red;
    }

    &__thumbnail {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }

    &__content {
        @include flex-column-start-evenly;

        &--info {
            @include flex-row-center-between;
            width: 100%;
            margin-bottom: 1rem;
            color: $color-grey;
            font-size: 0.8rem;
        }

        h2 {
            margin-bottom: 1rem;
            font-size: 1.3rem;
            color: $color-white;
        }

        p {
            @include limit-lines(4);
            color: $color-grey;
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }
}