@import '../theme.scss';
@import '../util.scss';
@import '../animation.scss';

.post-form {
    @include flex-column-center-evenly;

    width: 80%;

    textarea {
        align-self: stretch;
        outline: none;
        border: none;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 1rem;
        height: 10rem;
        resize: none;
        caret-color: $tertiary-dark;
        color: $tertiary-dark;
        background-color: $secondary-dark;

        &::placeholder {
            color: $tertiary-dark;
        }
    }

    &__options {
        @include flex-row-center-start;
        align-self: stretch;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: $secondary-dark;
        border-top: 3px solid $primary-dark;

        &--option {
            @include flex-center;

            text-decoration: none;
            padding: 1rem;
            color: $color-purple;
            transition: all 0.3s;

            &:not(:last-child) {
                border-right: 3px solid $primary-dark;
            }

            &:first-child {
                border-bottom-left-radius: 1rem;
            }

            &:last-child {
                flex: 1;
                border-bottom-right-radius: 1rem;
                color: $color-green;
            }

            &-icon {
                margin-right: 5px;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}