/* Color Scheme */

$primary-dark: #1f1d2c;
$secondary-dark: #262837;
$tertiary-dark: #e5e5e5;

$color-white: #fefdff;
$color-black: #000;

$color-green: #24b07f;
$color-purple: #6c5dc8;
$color-red: #d96a6b;
$color-yellow: gold;

/* Typography */

$font-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

/* Component styles */

$box-shadow: 0px 5px 6px rgba($color-black , 0.2);

/* Prestyles */

* {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

body {
    background-color: $primary-dark;
    margin: 1rem;
}