@mixin default-page-style {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    background-color: $secondary-dark;
}

@mixin row-flex-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@mixin absolute-center {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-row-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-row-center-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flex-row-center-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-row-start-evenly {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

@mixin flex-row-start-start {
    display: flex;
    align-items: flex-start;
    justify-content: space-start;
}

@mixin flex-row-start-between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@mixin flex-column-center-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column-center-evenly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flex-column-start-evenly {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

@mixin flex-column-start-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@mixin inset-box-shadow($x, $y, $blur, $color) {
    box-shadow: inset $x $y $blur $color;
    -moz-box-shadow: inset $x $y $blur $color;
    -ms-box-shadow: inset $x $y $blur $color;
    -o-box-shadow: inset $x $y $blur $color;
    -webkit-box-shadow: inset $x $y $blur $color;
}

@mixin limit-lines($lines) {
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

@mixin custom-scroll-bar ($width, $color, $border-radius, $shadow-color: rgba($color-black, 0.3)) {
    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        @include inset-box-shadow(0, 0, 6px, rgba($color-black, 0.3));
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: $primary-dark;
        outline: none;
    }
}