@mixin row-flex-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@mixin absolute-center {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-row-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-row-center-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flex-row-start-evenly {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

@mixin flex-row-center-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-column-center-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column-center-evenly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flex-column-start-evenly {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

@mixin inset-box-shadow($x, $y, $blur, $color) {
    box-shadow: inset $x $y $blur $color;
    -moz-box-shadow: inset $x $y $blur $color;
    -ms-box-shadow: inset $x $y $blur $color;
    -o-box-shadow: inset $x $y $blur $color;
    -webkit-box-shadow: inset $x $y $blur $color;
}

@mixin limit-lines($lines) {
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}