@import '../theme.scss';
@import '../util.scss';
@import '../animation.scss';

.article-page {
    @include default-page-style;

    &__header {
        h1 {
            color: $color-white;
            font-size: 2rem;
            margin: 1rem 0 3rem 0;
            border-bottom: 1px solid rgba($color-grey, 0.5);
        }
    }

    &__body {
        @include flex-center;

        &--cards {
            @include flex-row-center-evenly;
            width: 100%;
            padding: 1rem;
            flex-wrap: wrap;
        }
    }

}